import(stats)
import(tmvtnorm)
import(Matrix)
export(sar_eigs)
export(sar_lndet)
export(lndetfull)
export(lndetChebyshev)
export(kNearestNeighbors)
export(sarprobit)
export(sar_probit_mcmc)
export(coefficients.sarprobit)
export(coef.sarprobit)
export(plot.sarprobit)
export(summary.sarprobit)
export(c.sarprobit)
#export(predict.sarprobit)
#export(residuals.sarprobit)
#export(fitted.sarprobit)
#export(fitted.values.sarprobit)

## register all the methods for generics elsewhere in case namespace is
## loaded but not currently attached.
S3method(plot, sarprobit)
#S3method(fitted, sarprobit)
#S3method(predict, sarprobit)
#S3method(residuals, sarprobit)