import(stats)
import(mvtnorm)
import(tmvtnorm)
import(Matrix)
import(spdep)

export(sar_eigs)
export(sar_lndet)
export(lndetfull)
export(lndetChebyshev)
export(kNearestNeighbors)

# SAR probit
export(sarprobit)
export(sar_probit_mcmc)
export(coefficients.sarprobit)
export(coef.sarprobit)
export(plot.sarprobit)
export(summary.sarprobit)
export(c.sarprobit)
export(marginal.effects)
export(marginal.effects.sarprobit)
export(impacts.sarprobit)
export(logLik.sarprobit)

# SAR ordered probit 
export(sarorderedprobit)
export(sar_ordered_probit_mcmc)
export(summary.sarprobit)

# SAR Tobit
export(sartobit)
export(sar_tobit_mcmc)
export(coefficients.sartobit)
export(coef.sartobit)
export(plot.sartobit)
export(summary.sartobit)
#export(sartobit.default)
#export(sartobit.formula)

# SEM probit
export(semprobit)
export(sem_probit_mcmc)
export(coefficients.semprobit)
export(coef.semprobit)
export(plot.semprobit)
export(summary.semprobit)
export(logLik.semprobit)

export(LeSagePaceExperiment)

## register all the methods for generics elsewhere in case namespace is
## loaded but not currently attached.
S3method(plot, sarprobit)
S3method(marginal.effects, sarprobit)
S3method(impacts, sarprobit)
S3method(logLik, sarprobit)
S3method(logLik, semprobit)
#S3method(fitted, sarprobit)
#S3method(predict, sarprobit)
#S3method(residuals, sarprobit)